# General
target/
!**/src/main/**
!**/src/test/**
/target/
/.classpath
/.project

# IntelliJ
*.iml
.idea

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar