# PyCharm
*.iml
.idea

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
target/

# pyenv
.python-version

# Virtualenv
.env
.venv
env/
venv/